In [5]:
from sklearn.tree import DecisionTreeClassifier
from matplotlib import pyplot
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('auto-mpg.csv',na_values='?').dropna()
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [15]:
train_df = df.sample(170,random_state=1)
test_df = df[~df.isin(X_train)].dropna(how='all')
x_train = train_df['horsepower'].values.reshape(-1,1)
x_test = test_df['horsepower'].values.reshape(-1,1)
y_train = train_df['car name']
y_test = test_df['car name']

dtree = DecisionTreeClassifier(criterion='entropy')
model = dtree.fit(x_train,y_train)
ypred = model.predict(x_test)
accuracy = accuracy_score(y_test,ypred)
print("Accuracy: ",accuracy)

Accuracy:  0.03153153153153153