** Muhammad Sufyan Siddiqui - 18K-1161 - AI-Lab-11**

**Question 1**

In [87]:
import pandas as pd
import numpy as np
import scipy.stats as sc
import math
from sklearn.preprocessing import StandardScaler
import random
from matplotlib import pyplot as plt

In [88]:
dataset = pd.read_csv("Mall_Customers.csv")
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [89]:
Genre = dataset['Genre']
dataset.drop(columns=['CustomerID','Genre'],inplace=True)
dataset.head()

   Age  Annual Income (k$)  Spending Score (1-100)
0   19                  15                      39
1   21                  15                      81
2   20                  16                       6
3   23                  16                      77
4   31                  17                      40

In [90]:
dataset['Genre'] = Genre
dataset.head()

   Age  Annual Income (k$)  Spending Score (1-100)   Genre
0   19                  15                      39    Male
1   21                  15                      81    Male
2   20                  16                       6  Female
3   23                  16                      77  Female
4   31                  17                      40  Female

In [91]:
def Eucld(row1,row2):
    dist=0.0
    for i in range(len(row1)-1):
        dist+=(row1[i]-row2[i])**2
    return np.sqrt(dist)
def NeighborClassifier(train_data, test_row,n):
    distances = list()
    distance=0
    label=''
    for i in train_data:
        dist=Eucld(test_row,i)
        distances.append((i[-1],dist))
    distances = sorted(distances)
    #print(len(distances))
    labels = list(range(len(distances)))
    newdist = list(range(len(distances)))
    #print(len(labels))
    for i in range(len(distances)):
        label,distance = distances[i]
        labels[i]=label
        newdist[i]=distance


    print("For the given test data:")
    print(test_row[:-1])
    print("Predicted class is:")
    labels = np.array(labels)
    newdist = np.array(newdist)
    indexes  = labels.argsort()[:n]
    indexes2 = newdist.argsort()[:n]
    #print(indexes)
    minvals = labels[indexes]
    mindists = newdist[indexes2]
    #print("Top labels",minvals)
    #print("Top Distances",mindists)
    pred,count = sc.mode(minvals)
    distance,count = sc.mode(mindists)
    print(str(n)+"NN: ",str(pred[0]),"with a distance of",float(distance[0]))

def InitiatorSelfCNN(dataset):
    dataset.reset_index(drop=True,inplace=True)
    train_data=list(list(dataset.values))
    test_row=train_data[45]
    print("test row",test_row)
    test_row=list(test_row)
    train_data.pop(0)
    NeighborClassifier(train_data,test_row,5)
InitiatorSelfCNN(dataset)

test row [24 39 65 'Female']
For the given test data:
[24, 39, 65]
Predicted class is:
5NN:  Female with a distance of 0.0

In [92]:
#regressor
def NeighborRegressor(train_data, test_row,n):
    distances = list()
    distance=0
    label=''
    for i in train_data:
        dist=Eucld(test_row,i)
        distances.append((i[-1],dist))
    distances = sorted(distances)
    #print(len(distances))
    labels = list(range(len(distances)))
    newdist = list(range(len(distances)))
    #print(len(labels))
    for i in range(len(distances)):
        label,distance = distances[i]
        labels[i]=label
        newdist[i]=distance


    print("For the given test data:")
    print(test_row[:-1])
    print("Predicted class is:")
    labels = np.array(labels)
    newdist = np.array(newdist)
    indexes  = labels.argsort()[:n]
    indexes2 = newdist.argsort()[:n]
    #print(indexes)
    minvals = labels[indexes]
    mindists = newdist[indexes2]
    #print("Top labels",minvals)
    #print("Top Distances",mindists)
    
    pred = np.mean((minvals))
    print(str(n)+"NN: ","y'=",pred)



def InitiatorSelfRNN(dataset):
    dataset.reset_index(drop=True,inplace=True)
    train_data=list(list(dataset.values))
    test_row=train_data[45]
    print("test row",test_row)
    test_row=list(test_row)
    train_data.pop(0)
    NeighborRegressor(train_data,test_row,5)

In [93]:
rdataset = pd.read_csv("Mall_Customers.csv")
rdataset.drop(columns=['CustomerID'],inplace=True)
rdataset['Genre']=rdataset['Genre'].replace(to_replace='Male',value=1)
rdataset['Genre']=rdataset['Genre'].replace(to_replace='Female',value=0)
rdataset.head()
InitiatorSelfRNN(rdataset)

test row [ 0 24 39 65]
For the given test data:
[0, 24, 39]
Predicted class is:
5NN:  y'= 2.6

**Question 2 - KMeans**

In [94]:
#df = rdataset
std = StandardScaler()
df = std.fit_transform(rdataset)
df = pd.DataFrame(df)
print(df.shape)
df.head()

(200, 4)

          0         1         2         3
0  1.128152 -1.424569 -1.738999 -0.434801
1  1.128152 -1.281035 -1.738999  1.195704
2 -0.886405 -1.352802 -1.700830 -1.715913
3 -0.886405 -1.137502 -1.700830  1.040418
4 -0.886405 -0.563369 -1.662660 -0.395980

In [95]:
init_centroids = random.sample(range(0, len(df)), 3)
init_centroids

[158, 143, 89]

In [96]:
def calc_distance(X1, X2):
    return math.sqrt((sum((X1 - X2)**2)))

In [97]:
centroids = []
for i in init_centroids:
    centroids.append(df.loc[i])
centroids
centroids = np.array(centroids)
centroids

array([[ 1.12815215, -0.34806844,  0.66567484, -1.91002079],
       [-0.88640526, -0.49160182,  0.58933599,  1.42863343],
       [-0.88640526,  0.80019859, -0.09771374, -0.16305055]])

In [98]:
def findClosestCentroids(centroids, X):
    assigned_centroid = []
    for i in range(len(X)):
        #print(X.iloc[i,:])
        distance=[]
        for j in centroids:
            distance.append(calc_distance(X.iloc[i], j))
        #print(distance)
        mindst = np.argmin(distance)
        #print(mindst)
        assigned_centroid.append(mindst)
    return assigned_centroid

In [99]:
get_centroids = findClosestCentroids(centroids, df)
print(get_centroids)

[0, 1, 2, 1, 2, 1, 2, 1, 0, 1, 2, 1, 2, 1, 0, 1, 2, 1, 2, 1, 0, 1, 2, 1, 2, 1, 2, 2, 2, 1, 0, 1, 0, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 0, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 0, 2, 2, 2, 0, 2, 1, 0, 0, 2, 2, 2, 0, 2, 1, 2, 2, 2, 2, 2, 1, 2, 0, 1, 1, 2, 2, 2, 2, 0, 2, 2, 1, 2, 1, 0, 1, 0, 1, 0, 1, 2, 1, 0, 1, 2, 1, 0, 1, 2, 1, 2, 1, 0, 1, 0, 1, 2, 1, 0, 1, 2, 1, 2, 1, 0, 1, 0, 1, 2, 1, 0, 1, 0, 1, 0, 1, 2, 1, 0, 1, 0, 1, 2, 1, 0, 1, 0, 1, 2, 1, 0, 1, 2, 1, 2, 1, 2, 1, 2, 1, 0, 1, 2, 1, 2, 1, 0, 1]

In [100]:
def calc_centroids(clusters, X):
    new_centroids = []
    new_df = pd.concat([pd.DataFrame(X), pd.DataFrame(clusters, columns=['cluster'])],axis=1)
    #df['Clusters'] = clusters
    #print(new_df.head())
    for c in set(new_df['cluster']):
        #print(c)
        current_cluster = new_df[new_df['cluster'] == c][new_df.columns[:-1]]
        #print("Current Cluster",current_cluster)
        cluster_mean = current_cluster.mean(axis=0)
        #print("Cluster Mean",cluster_mean)
        new_centroids.append(cluster_mean)
    return new_centroids

In [101]:
for i in range(5):
    get_centroids = findClosestCentroids(centroids, df)
    centroids = calc_centroids(get_centroids, df)
rdataset['Clusters'] = get_centroids
rdataset.head()

   Genre  Age  Annual Income (k$)  Spending Score (1-100)  Clusters
0      1   19                  15                      39         0
1      1   21                  15                      81         1
2      0   20                  16                       6         2
3      0   23                  16                      77         1
4      0   31                  17                      40         2

In [102]:
rdataset.groupby('Clusters').size()

Clusters
0    53
1    84
2    63
dtype: int64