In [1]:
2+2

4

In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt


n=np.random.seed(0)

df = pd.read_csv('advertising.csv')
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [17]:
predictor = np.array(df['TV'])
y = np.array(df['Sales'])
beta = np.sum(predictor-np.mean(predictor)*(y-np.mean(y)))/np.sum((predictor-np.mean(predictor))**2)
beta

0.020049167227576457