In [1]:

c1=pd.read_csv("data1.csv")
print(c1)

Unnamed: 0  A    B  C
0           0  1  2.0  3
1           1  4  5.0  6
2           4  2  NaN  5

In [7]:
import pandas as pd
c1=pd.read_csv("data1.csv",index_col=0)
df1=pd.DataFrame(c1)
print(df1)
df2=pd.read_csv("data2.csv",index_col=1)
print(df2)

A    B  C
0  1  2.0  3
1  4  5.0  6
4  2  NaN  5
       A  B  C
2      2  5  6
3  Hello  3  4

In [11]:
#Q2
df3=pd.concat([df1,df2])
print(df3)

A    B  C
0      1  2.0  3
1      4  5.0  6
4      2  NaN  5
2      2  5.0  6
3  Hello  3.0  4

In [23]:
#Q3
df4=pd.read_csv("data3.csv",index_col=0)
print("Data Frame 4")
print(df4)
print("Data Frame 5")
df5=pd.concat([df3,df4],axis=1)
print(df5)

Data Frame 4
   D  E
1  1  7
4  0  8
Data Frame 5
       A    B  C    D    E
0      1  2.0  3  NaN  NaN
1      4  5.0  6  1.0  7.0
2      2  5.0  6  NaN  NaN
3  Hello  3.0  4  NaN  NaN
4      2  NaN  5  0.0  8.0